n8n-contact-workflow.json
{
  "name": "Xyra.Digital Contact Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "xyra-contact-form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "company",
              "name": "company",
              "value": "={{ $json.body.company }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "datetime",
              "name": "datetime",
              "value": "={{ $json.body.schedule?.datetime }}",
              "type": "string"
            },
            {
              "id": "duration",
              "name": "durationMinutes",
              "value": "={{ $json.body.schedule?.durationMinutes }}",
              "type": "number"
            },
            {
              "id": "timezone",
              "name": "timezone",
              "value": "={{ $json.body.schedule?.timezone }}",
              "type": "string"
            },
            {
              "id": "bookDirect",
              "name": "bookDirect",
              "value": "={{ $json.body.schedule?.bookDirect }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein professioneller Assistent von Xyra.Digital. Formuliere eine kurze, freundliche Bestätigungs-E-Mail auf Deutsch für Kontaktanfragen. Stil: professionell aber nicht zu förmlich, enthusiastisch über die Zusammenarbeit.\n\nWichtige Punkte:\n- Bestätige den Empfang der Anfrage\n- Bedanke dich für das Interesse\n- Erwähne dass sich David Louis zeitnah meldet (innerhalb 24h)\n- Falls ein Termin gewünscht wurde, bestätige diesen\n- Halte die Mail kurz (max 150 Wörter)\n- Verwende eine warme, persönliche Anrede\n- Signatur: Viele Grüße, Das Xyra.Digital Team"
            },
            {
              "role": "user",
              "content": "=Erstelle eine Bestätigungs-E-Mail für folgende Anfrage:\n\nName: {{ $json.name }}\nFirma: {{ $json.company || 'nicht angegeben' }}\nNachricht: {{ $json.message }}\n{{ $json.bookDirect ? 'Terminwunsch: ' + $json.datetime + ' (' + $json.durationMinutes + ' Minuten, ' + $json.timezone + ')' : 'Kein direkter Terminwunsch' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "chatgpt-generate",
      "name": "ChatGPT - Generate Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $('Extract Form Data').item.json.email }}",
        "subject": "Vielen Dank für Ihre Anfrage – Xyra.Digital",
        "bodyContent": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "ccRecipients": "",
          "bccRecipients": "david.louis@xyra.digital",
          "importance": "normal",
          "isRead": false,
          "saveToSentItems": true
        }
      },
      "id": "outlook-send-mail",
      "name": "Outlook - Send Confirmation",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2.1,
      "position": [850, 200],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "outlook-credentials",
          "name": "Microsoft Outlook OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bookdirect-check",
              "leftValue": "={{ $('Extract Form Data').item.json.bookDirect }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "datetime-check",
              "leftValue": "={{ $('Extract Form Data').item.json.datetime }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-booking",
      "name": "Check if Booking Requested",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "subject": "=Meeting: {{ $('Extract Form Data').item.json.name }}{{ $('Extract Form Data').item.json.company ? ' (' + $('Extract Form Data').item.json.company + ')' : '' }}",
        "start": "={{ $('Extract Form Data').item.json.datetime }}",
        "end": "={{ $dateTime($('Extract Form Data').item.json.datetime).plus($('Extract Form Data').item.json.durationMinutes, 'minutes').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Extract Form Data').item.json.email }}"
          ],
          "body": "=Kontaktanfrage:\n\n{{ $('Extract Form Data').item.json.message }}\n\n---\nE-Mail: {{ $('Extract Form Data').item.json.email }}\nFirma: {{ $('Extract Form Data').item.json.company || 'nicht angegeben' }}",
          "location": "Online (Details folgen)",
          "isReminderOn": true,
          "reminderMinutesBeforeStart": 15,
          "importance": "normal",
          "showAs": "busy",
          "timeZone": "={{ $('Extract Form Data').item.json.timezone }}"
        }
      },
      "id": "outlook-create-event",
      "name": "Outlook - Create Calendar Event",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2.1,
      "position": [1050, 500],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "outlook-credentials",
          "name": "Microsoft Outlook OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you! We'll be in touch soon.\" } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "ChatGPT - Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT - Generate Email": {
      "main": [
        [
          {
            "node": "Outlook - Send Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Booking Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Booking Requested": {
      "main": [
        [
          {
            "node": "Outlook - Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook - Send Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook - Create Calendar Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-29T00:00:00.000Z",
  "versionId": "1"
}
