n8n-chatbot-workflow.json
{
  "name": "XYRA AI Chatbot - ChatGPT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo-preview",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo-preview"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Du bist der offizielle XYRA AI Assistent. XYRA bietet produktionsreife KI-Lösungen für die Musikindustrie und Creator Economy.\n\nDeine Aufgaben:\n- Beantworte Fragen über XYRA's Services (Chat-Agenten, Voice-Agenten, Prozessautomatisierung)\n- Erkläre die drei Projektansätze: Discovery-Sprint (Festpreis, 2-3 Wochen), Build & Launch (Monatlich), Scale-Programm (Custom)\n- Qualifiziere Leads: Frage nach ihrer Branche (Musik, Creator, E-Commerce) und konkreten Herausforderungen\n- Sei freundlich, professionell und präzise auf Deutsch\n- Wenn du etwas nicht weißt, empfehle direkten Kontakt über david.louis@xyra-ai.de\n\nWebsite: https://xyra-ai.de"
            },
            {
              "role": "user",
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.message.content, \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "1",
  "tags": []
}
